# capitalize() Method

The capitalize() method returns a string where the first character is upper case, and the rest is lower case.

In [2]:
txt = "hello friends"
x = txt.capitalize()
print (x)

Hello friends

In [4]:
txt = "how are you?"
x = txt.capitalize()
print (x)

How are you?

# casefold() Method

The casefold() method returns a string where all the characters are lower case.

In [5]:
txt = "Hello, And Welcome To My World!"
x = txt.casefold()
print(x)

hello, and welcome to my world!

In [7]:
txt = "Say Hii"
x = txt.casefold()
print(x)

say hii

# center() Method

The center() method will center align the string, using a specified character (space is default) as the fill character.

In [9]:
txt = "banana"
x = txt.center(20)
print(x)

       banana

In [10]:
txt = "                                       banana"
x = txt.center(20)
print(x)

                                       banana

# count() Method

The count() method returns the number of times a specified value appears in the string.

In [11]:
txt = "I love apples, apple are my favorite fruit"
x = txt.count("apple")
print(x)

2

In [13]:
txt = "I love cricket, Saurabh love cricket, everyone loves cricket"
x = txt.count("cricket")
print(x)

3

# encode() Method

This method is used to convert a string into bytes.

In [17]:
txt = "My name is megha"
x = txt.encode()
print(x)

b'My name is megha'

In [19]:
txt = "Hello world"
x = txt.encode()
print(x)

b'Hello world'

# endswith() Method

The endswith() method returns True if the string ends with the specified value, otherwise False.

In [20]:
txt = "Vadakkam."
x = txt.endswith(".")
print(x)

True

In [21]:
txt = "Namaste@"
x = txt.endswith("#")
print(x)

False

# expandtabs() Method

The expandtabs() method sets the tab size to the specified number of whitespaces.

In [22]:
txt = "H\te\tl\tl\to"
x =  txt.expandtabs(2)
print(x)

H e l l o

In [25]:
txt = "N\ta\tm\ta\ts\tt\te"
print(txt)
print(txt.expandtabs())
print(txt.expandtabs(2))
print(txt.expandtabs(4))
print(txt.expandtabs(10))

N	a	m	a	s	t	e
N       a       m       a       s       t       e
N a m a s t e
N   a   m   a   s   t   e
N         a         m         a         s         t         e

# find() Method


The find() method finds the first occurrence of the specified value.

In [28]:
txt = "Hello, welcome to my world."
x = txt.find("welcome")
print(x)

7

In [32]:
txt = "Hello, welcome to my world."
x = txt.find("world")
print(x)

21

# format() Method

The format() method formats the specified value(s) and insert them inside the string's placeholder.

In [33]:
txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49))

For only 49.00 dollars!

In [35]:
txt1 = "My name is {fname}, I'm {age}".format(fname = "John", age = 36)
txt2 = "My name is {0}, I'm {1}".format("John",36)
txt3 = "My name is {}, I'm {}".format("John",36)

In [36]:
print(txt1)

My name is John, I'm 36

# format_map()

Formats specified values in a string

In [38]:
person = {'name': 'Megha', 'age': 22}
sentence = "My name is {name} and I am {age} years old.".format_map(person)
print(sentence)

My name is Megha and I am 22 years old.

In [40]:
person = {'City': 'Nagpur', 'College': 'xyz'}
sentence = "I live in {City} and I studied in {College} college.".format_map(person)
print(sentence)

I live in Nagpur and I studied in xyz college.

# index() Method

The index() method finds the first occurrence of the specified value.

In [41]:
txt = "Hello, welcome to my world."
x = txt.index("welcome")
print(x)

7

In [42]:
txt = "I am from Maharashtra"
x = txt.index("Maharashtra")
print(x)

10

# isalnum() Method

isalnum() method returns True if all the characters are alphanumeric, meaning alphabet letter (a-z) and numbers (0-9).
Example of characters that are not alphanumeric: (space)!#%&? etc.

In [43]:
txt = "Megha26"
x = txt.isalnum()
print(x)

True

In [45]:
txt = "Megha@26"
x = txt.isalnum()
print(x)

False

# isalpha() Method

The isalpha() method returns True if all the characters are alphabet letters (a-z).

In [46]:
txt = "CompanyX"
x = txt.isalpha()
print(x)

True

In [47]:
txt = "company4"
x = txt.isalpha()
print(x)

False

# isascii() Method

The isascii() method returns True if all the characters are ascii characters  (a-z).

In [48]:
txt = "Company123"
x = txt.isascii()
print(x)

True

In [49]:
txt = "@@@"
x = txt.isascii()
print(x)

True

# isdecimal() Method

The isdecimal() method returns True if all the characters are decimals (0-9).

In [50]:
txt = "1234"
x = txt.isdecimal()
print(x)

True

In [51]:
txt = "1-2"
x = txt.isdecimal()
print(x)

False

# isdigit() Method

The isdigit() method returns True if all the characters are digits, otherwise False.

In [52]:
txt = "50800"
x = txt.isdigit()
print(x)

True

In [53]:
txt = "abc123"
x = txt.isdigit()
print(x)

False

# isidentifier() Method

The isidentifier() method returns True if the string is a valid identifier, otherwise False.

In [54]:
txt = "Demo"
x = txt.isidentifier()
print(x)

True

In [55]:
txt = "Demo at 2pm"
x = txt.isidentifier()
print(x)

False

# islower() Method

The islower() method returns True if all the characters are in lower case, otherwise False.

In [56]:
txt = "hello world!"
x = txt.islower()
print(x)

True

In [57]:
txt = "Hello world!"
x = txt.islower()
print(x)

False

# isnumeric() Method

The isnumeric() method returns True if all the characters are numeric (0-9), otherwise False.

In [58]:
txt = "565543"
x = txt.isnumeric()
print(x)

True

In [59]:
txt = "56abc"
x = txt.isnumeric()
print(x)

False

# isprintable() Method

The isprintable() method returns True if all the characters are printable, otherwise False.

In [60]:
txt = "Hello! Are you #1?"
x = txt.isprintable()
print(x)

True

In [61]:
txt = "I am fine :)"
x = txt.isprintable()
print(x)

True

In [62]:
txt = "Hello!\nAre you #1?"
x = txt.isprintable()
print(x)

False

# isspace() Method

The isspace() method returns True if all the characters in a string are whitespaces, otherwise False.

In [63]:
txt = "   s   "
x = txt.isspace()
print(x)

False

In [64]:
txt = "   "
x = txt.isspace()
print(x)

True

# istitle() Method

The istitle() method returns True if all words in a text start with a upper case letter, AND the rest of the word are lower case letters, otherwise False.

In [66]:
txt = "Hello, And Welcome To My World!"
x = txt.istitle()
print(x)

True

In [69]:
a = "HELLO, AND WELCOME TO ARC"
b = "Hello"
c = "22 Names"
d = "This Is %'!?"

print(a.istitle())
print(b.istitle())
print(c.istitle())
print(d.istitle())

False
True
True
True

# isupper() Method

The isupper() method returns True if all the characters are in upper case, otherwise False.

In [70]:
txt = "THIS IS NOW!"
x = txt.isupper()
print(x)

True

In [72]:
a = "Hello World!"
b = "hello 123"
c = "MY NAME IS MEGHA"

print(a.isupper())
print(b.isupper())
print(c.isupper())

False
False
True

# join() Method

The join() method takes all items in an iterable and joins them into one string.

In [73]:
myTuple = ("John", "Peter", "Vicky")
x = "#".join(myTuple)
print(x)

John#Peter#Vicky

In [74]:
myTuple = ("John", "Peter", "Vicky")
x = "_".join(myTuple)
print(x)

John_Peter_Vicky

# ljust() Method

The ljust() method will left align the string, using a specified character (space is default) as the fill character.

In [75]:
txt = "banana"
x = txt.ljust(10)
print(x, "is my favorite fruit.")

banana     is my favorite fruit.

In [76]:
txt = "mango"
x = txt.ljust(50)
print(x, "is my favorite fruit.")

mango                                              is my favorite fruit.

# lower() Method

The lower() method returns a string where all characters are lower case.

In [77]:
txt = "Hello my FRIENDS"
x = txt.lower()
print(x)

hello my friends

In [78]:
txt = "KEMCHO"
x = txt.lower()
print(x)

kemcho

# lstrip() Method

The lstrip() method removes any leading characters (space is the default leading character to remove)

In [79]:
txt = "     banana     "
x = txt.lstrip()
print("of all fruits", x, "is my favorite")

of all fruits banana      is my favorite

In [81]:
txt = "         mango"
x = txt.lstrip()
print( x, "is king of fruits")

mango is king of fruits

# maketrans() Method

The maketrans() method returns a mapping table that can be used with the translate() method to replace specified characters.

In [82]:
txt = "Hello Sam!"
mytable = str.maketrans("S", "M")
print(txt.translate(mytable))

Hello Mam!

In [84]:
txt = "Welcome to India!"
mytable = str.maketrans("India", "Delhi")
print(txt.translate(mytable))

Welcome to Delhi!

# partition() Method

The partition() method searches for a specified string, and splits the string into a tuple containing three elements.

In [85]:
txt = "I could eat bananas all day"
x = txt.partition("bananas")
print(x)

('I could eat ', 'bananas', ' all day')

In [86]:
txt = "We celebrate every weekend"
x = txt.partition("every")
print(x)

('We celebrate ', 'every', ' weekend')

# rfind() Method

The rfind() method finds the last occurrence of the specified value.

In [87]:
txt = "Mi casa, su casa."
x = txt.rfind("casa")
print(x)

12

In [88]:
txt = "My name is riya, riya live in nagpur"
x = txt.rfind("riya")
print(x)

17

# rjust() Method

The rjust() method will right align the string, using a specified character (space is default) as the fill character.

In [89]:
txt = "banana"
x = txt.rjust(20)
print(x, "is my favorite fruit.")

              banana is my favorite fruit.

# rpartition() Method

The rpartition() method searches for the last occurrence of a specified string, and splits the string into a tuple containing three elements.

In [90]:
txt = "I could eat bananas all day, bananas are my favorite fruit"
x = txt.rpartition("bananas")
print(x)

('I could eat bananas all day, ', 'bananas', ' are my favorite fruit')

# rsplit() Method

The rsplit() method splits a string into a list, starting from the right.

If no "max" is specified, this method will return the same as the split() method.

In [91]:
txt = "apple, banana, cherry"
x = txt.rsplit(", ")
print(x)

['apple', 'banana', 'cherry']

In [92]:
txt = "megha123, aishwarya29, riyac03"
x = txt.rsplit(", ")
print(x)

['megha123', 'aishwarya29', 'riyac03']

# split() Method

The split() method splits a string into a list.

In [93]:
txt = "welcome to the jungle"
x = txt.split()
print(x)

['welcome', 'to', 'the', 'jungle']

In [94]:
txt = "apple#banana#cherry#orange"
x = txt.split("#")
print(x)

['apple', 'banana', 'cherry', 'orange']

# splitlines() Method

The splitlines() method splits a string into a list. The splitting is done at line breaks.

In [95]:
txt = "Thank you for the music\nWelcome to the jungle"
x = txt.splitlines()
print(x)

['Thank you for the music', 'Welcome to the jungle']

In [96]:
txt = "Thank you for the music\nWelcome to the jungle"
x = txt.splitlines(True)
print(x)

['Thank you for the music\n', 'Welcome to the jungle']

# startswith() Method

The startswith() method returns True if the string starts with the specified value, otherwise False.

In [97]:
txt = "Hello, welcome to my world."
x = txt.startswith("Hello")
print(x)

True

In [98]:
txt = "Hii, welcome to my world."
x = txt.startswith("Hello")
print(x)

False

# swapcase() Method

The swapcase() method returns a string where all the upper case letters are lower case and vice versa.

In [99]:
txt = "Hello My Name Is Megha"
x = txt.swapcase()
print(x)

hELLO mY nAME iS mEGHA

In [101]:
txt = "hOW aRE yOU?"
x = txt.swapcase()
print(x)

How Are You?

# title() Method

The title() method returns a string where the first character in every word is upper case. Like a header, or a title.

In [102]:
txt = "Welcome to my world"
x = txt.title()
print(x)

Welcome To My World

translate() Method

In [103]:
txt = "Hello Sam!"
mytable = str.maketrans("S", "P")
print(txt.translate(mytable))

Hello Pam!

# upper() Method

The upper() method returns a string where all characters are in upper case.

 Symbols and Numbers are ignored.

In [104]:
txt = "Hello my friends"
x = txt.upper()
print(x)

HELLO MY FRIENDS

# zfill() Method

The zfill() method adds zeros (0) at the beginning of the string, until it reaches the specified length.

In [106]:
txt = "50"
x = txt.zfill(10)
print(x)

0000000050

In [108]:
a = "hello"
b = "welcome to the jungle"
c = "10.000"

print(a.zfill(10))
print(b.zfill(10))
print(c.zfill(10))

00000hello
welcome to the jungle
000010.000